version: '3.8'

services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile.backend
    environment:
      - POSTGRES_DB=mydb
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
    depends_on:
      - db

  frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend

  # PRIMARY DATABASE
  db:
    image: postgres:14
    container_name: db-primary
    environment:
      POSTGRES_DB: mydb
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      PGDATA: /var/lib/postgresql/data
    volumes:
      - pgdata:/var/lib/postgresql/data
      # DDBMS tablespaces
      - /opt/ts_logs_2023:/var/lib/postgresql/ts_logs_2023
      - /opt/ts_logs_2024:/var/lib/postgresql/ts_logs_2024
      - /opt/ts_data_2025:/var/lib/postgresql/ts_data_2025
      # For CSV export (Option 3)
      - /opt/datalake:/opt/datalake
      # Init script for replication user + config
      - ./db-init/01-primary-replication.sh:/docker-entrypoint-initdb.d/01-primary-replication.sh:ro
    ports:
      - "5432:5432"

  # REPLICA DATABASE (physical streaming replication)
  db-replica:
    image: postgres:14
    container_name: db-replica
    environment:
      POSTGRES_DB: mydb
      POSTGRES_USER: user        # not used much, but required by image
      POSTGRES_PASSWORD: password
      PGDATA: /var/lib/postgresql/data
    volumes:
      - pgdata_replica:/var/lib/postgresql/data
      - /opt/ts_logs_2023_replica:/var/lib/postgresql/ts_logs_2023
      - /opt/ts_logs_2024_replica:/var/lib/postgresql/ts_logs_2024
      - /opt/ts_logs_2025_replica:/var/lib/postgresql/ts_logs_2025
      - ./db-init/init-replica.sh:/init-replica.sh:ro
    depends_on:
      - db
    ports:
      - "5433:5432"
    entrypoint: ["/bin/bash", "/init-replica.sh"]

  nginx:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - backend
      - frontend

volumes:
  pgdata:
  pgdata_replica:
